.black{
  width: 100%;
  position: absolute;
  left: 0;
  top: 88px;
  bottom:0;
  background: #000000;
  opacity: 0.5;
  z-index: 10;
}
.screen-items{
  width: 50%;
  height: auto;
  position: absolute;
  left: 0;
  top: 89px;
  background: #ffffff;
  z-index: 1000;
  border-right: 1px solid #ccc;
  text-align: center;
    li{
      height: 35px;
      line-height: 35px;
      border-bottom: 1px solid #ccc;
      text-align: center;
    }
}
.screen-content{
  width: 50%;
  height: auto;
  position: absolute;
  right: 0;
  top: 89px;
  background: #eeeeee;
  z-index: 100;
  ol{
    text-align: center;
    li{
      height: 35px;
      line-height: 35px;
      border-bottom: 1px solid #ccc;
    }
  }
}
.orderContent{
  width: 100%;
  background: #ffffff;
  height: auto;
  position: absolute;
  top: 89px;
  z-index: 1000;
  li{
    z-index: 1000;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}
.activeOn{
  background: #eeeeee;
  color: deepskyblue;
}
.flag{
  color: red;
}
.section{
  -webkit-flex: 1;
  overflow-y: auto;
}
.nav{
  height: 44px;
  line-height: 44px;
  border-top: 1px solid #ccc;
  background: #ffffff;
  margin-bottom: 15px;
  ul{
    display: flex;
    li{
      border-right: 1px solid #ccc;
      width: 50%;
      text-align: center;
      font-size: 14px;
      &:nth-child(2){
        border-right: none;
      }
    }
  }
  .active{
    color: deepskyblue;
  }
}
.productList{
  background: #ffffff;
  height: 80px;
  border-bottom: 1px solid #ccc;
  position: relative;
  p{
    padding-left: 10px;
    padding-top: 15px;
    font-size: 14px;
    b{
      font-weight: normal;
    }
    span{
      position: absolute;
      right: 10px;
      color: #ff772b;
    }
    button{
      position: absolute;
      right: 10px;
      top: 43px;
      background: #ff772b;
      color: #ffffff;
      border-radius: 3px;
    }
  }
  .Op{
    em{
      font-style: normal;
      font-size: 12px;
      color: #999;
    }
    button{
      width: 90px;
      height: 30px;
      border: none;
    }
  }
}