.headContent{
  height: 175px;
  background: #ed5858;
  text-align: center;
  img{
    width: 84px;
    height: 84px;
    padding-top: 10px;
  }
  ul{
    display: flex;
    text-align: center;
    padding-top: 15px;
    li{
      width: 50%;
      height: 40px;
      button{
        width: 130px;
        height: 40px;
        font-size: 18px;
        background: #ffbb00;
        border: 1px solid #ffbb00;
        border-radius: 5px;
        color: #ffffff;
      }
      &:nth-child(2){
        button{
          border: 1px solid #fff;
          background: #ed5858;
        }
      }
    }
  }
}
.section{
  .navContent{
    display: flex;
    text-align: center;
    height: 100px;
    border-bottom: 1px solid #ccc;
    dl{
      -webkit-flex: 1;
      padding-top: 20px;
      dt{
        img{
          width: 40px;
          height: 40px;
        }
      }
      dd{
        font-size: 15px;
      }
    }
  }
  .Oul{
    li{
      height: 44px;
      line-height: 44px;
      border-bottom: 1px solid #ccc;
      font-size: 15px;
      position: relative;
      i{
        padding-left: 22px;
        padding-right: 10px;
        font-size: 20px;
      }
      span{
        position: absolute;
        right: 5px;
        color: #aaaaaa;
      }
    }
  }
}